.formItems {
    display: flex;
    flex-direction: column;
     
}

.addFormContainer {
    display: flex;
    flex-direction: column;
     align-items: center;
    margin-top: 4vh;
}

.addFormContainer .form {
    margin: 0;
}