table {
    margin-top: 1vh;
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 2vh;
  }
  
  th {
    background-color: #d7385e;
  }
  
  td {
    background-color: rgb(220, 227, 231);
  }
  
  .tableContainer {
    margin-bottom: 3vh;
  }